# langchain
langchain==0.1.16
langchain-core==0.1.44
langchain-community==0.0.33


# embedding
sentence-transformers==2.2.2
BCEmbedding==0.1.3
FlagEmbedding==1.2.5
tiktoken==0.5.2
protobuf==4.25.3
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

# web
python-multipart==0.0.6
sanic==23.6.0
sanic_ext==23.6.0
concurrent-log-handler==0.9.25
websocket==0.2.1
websocket-client==1.7.0
httpx==0.27.0
httpx_sse==0.4.0

# llm
dashscope==1.14.1
qianfan==0.3.7.1
zhipuai==2.0.1.20240427
openai==1.25.0